
.writing-pad{
    box-shadow: 2px 1px 1px 0px #00000026;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    border-radius: 8px;
    overflow: hidden;
}

@media(min-width:768px){
    .writing-pad{
        width: 100%;

    }

}

@media(min-width:992px){
    .writing-pad{
        width: 990px;

    }

}

