

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Flex', sans-serif;
  background: #ffffff;
  background-size: cover;
  background-position: 50%,50%;

}

#root{
  display: flex;
  flex-direction: column;
  perspective: 2000px;
  gap: 5px;


}

.laptop{
  display: flex;
  flex-direction: column;
  perspective: 2000px;
  gap: 5px;

}

@media(max-width:992px){
  .laptop{
    transform: scale(0.7);
  }

}

@media(max-width:768px){
  .laptop{
    transform: scale(0.4);
  }

}